/* editing second section */

.max_container{
    max-width: 1500px;
    width:100%;
    margin:0 auto;
}

/* navbar */
.my_container .list{
    margin-bottom: 0;
}

/* ........ */
:root{
    --dimen1 : 70px;
    --dimen2 : 60px;
    --dimen3 : 50px;
}
.my_video{
    position:relative;
    

    
}

.my_video video{
 
  
  width:100%;

}

.my_video_details{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    background-color: rgba(0, 0, 0, 0.526);
    display: flex;
    flex-direction: column;
    padding-top:3rem;
   

}



.logo img{
    width:80px;
    height: 80px;
    border-radius: 50%;
    padding:0.5em;
    background-color: rgba(174, 174, 174, 0.281);
    box-shadow: rgb(0, 0, 0) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.my_video_details .row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 2rem;
}

.top_title{
    position: absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%);
}

.top_title .title_name{
    color:white;
    font-family: 'Cookie', cursive;
    font-size: 9rem;
    letter-spacing: 5px;
    position: relative;

}

.title_name::before{
    content:"";
    position: absolute;
    right:-15px;
    top:5%;
    width:40px;
    height:7rem;
    border-right: white 2px solid ;
    animation:blink infinite 0.5s;
}

@keyframes blink {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.search_area{
    display: flex;
    align-items: center;
    overflow: hidden;
}


.search_box{
    padding:1em 2em;
    border-radius: 12px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform:translateX(140%);
    transition: all 0.5s ease;
}

.search_box:focus{
    outline:none;
}

.search_box_activate{
    transform: translateX(0%);
  
}

.search_icon{
    font-size: 2rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding:0.5em;
    color:white;
    cursor:pointer;
}

@keyframes search_anim {
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
    
}




/* ........................ */


/* second section */

.circle_section{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

    position: relative;
    background-image: url(../resources/images/index/background/back.webp);
    background-repeat: no-repeat;
    background-position: center;

}
   



.main_circle{
    width:400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}

.main_circle_desc{
    width:100%;
    height: 100%;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 2em;
    
 
}

.circle_desc{
    color:white;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.7rem;

}

.small_circle{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: grid;
    place-items: center;
}

.circle_icons{
    font-size:1.8rem;
    color:white;
}

.circle1{
    width:var(--dimen1);
    height:var(--dimen1);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    right:-8%;
    top:10%;
}

.circle2{
    width:var(--dimen1);
    height:var(--dimen1);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left:-8%;
    top:10%;
}

.circle3{
    width:var(--dimen1);
    height:var(--dimen1);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left:-8%;
    bottom: 10%;
}

.circle4{
    width:var(--dimen1);
    height:var(--dimen1);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    right:-8%;
    bottom:10%;
}

/* ...........second section end.............. */



/* popping up styles */

.my_container2{
    position: relative;
    transform:translateY(150px);
    opacity:0;
    transition:all 1s ease;
}


.my_container2.up{
    transform:translateY(0px);
    opacity: 1;
}

/* ............... */


/* .................slider section start .................... */

/* .slide{
    max-width:60%;
    margin:0 auto;

}
section.slider img{
    height: 600px;
    width:100%;
    object-fit:contain;

} */

 /* aruna */


 /* aruna end */

 
/* ARUNA  */
/* .slide{
    background-color: black;
    width: 100%;
    height: 700px;
    margin:0 auto;
   
}


section.slider img{
    width:100%;
}




.w-100 {
    max-width: 1000px;
    min-width: 800px;
    max-height: 700px; 
    object-fit: contain;
} */

/* END ARUNA    */

/* ................ end of the slider section  .............. */


/* ..................map section .......................... */

.map_section{
    
    background-image: url(../resources/images/index/background/back.webp);
    background-position: center;
    background-repeat: no-repeat;
    padding:4rem 0;

    
}


.map_section .my_container2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:0 2em;
}

.map_area{
    width:50%;
    padding-left:2rem;
}

.map_area .map{
    border-radius: 12px;
    display: block;
}
.review_area{
    display: flex;
    flex-direction: column;
    padding:1.5em;
    width: 50%;
}

.review_area .review_title{
    padding-left:1.5em;
}

.review_row{
    display: flex;
    align-items: center;
    padding:1.5em;

}

.review_cards{
    max-height: 460px;
    overflow-y: scroll;
}

.review_cards::-webkit-scrollbar {
    width: 10px;
  }
  

.review_cards::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100vw;
    margin-block:1em;
  }
  
.review_cards::-webkit-scrollbar-thumb {
    background: rgb(158, 158, 158);
    border-radius: 100vw;
    cursor:pointer;
    
    
  }

.review_cards::-webkit-scrollbar-thumb:hover {
    background: rgb(134, 134, 134);
  }

.review_details{
    background-color: rgba(0, 0, 0, 0.782);
    padding:1.5em .5em;
    border-radius: 12px;
}

.review_details{
    width:500px;
    color:white;
    text-align: justify;
}

.profile_photo{
    margin-right:1.5rem;
}

.profile_photo img{
    width:80px;
    height:80px;
    border-radius: 50%;
}


/* .................. end of the map section ................. */


/* ........... about us section...................... */

.aboutus_section .my_container2{
    width:100%;
    background-image: url(https://cdn1.vectorstock.com/i/1000x1000/23/85/minimal-white-background-design-vector-15862385.jpg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding:2rem;
    min-height: 350px;
    padding: 6rem;
    
   

    
}

.aboutus_section .left{
    width:40%;
    
}

.left img{
    width:80%;
    animation: aboutus 1s ease-in-out alternate infinite;
}




.aboutus_section .right{
    width:60%;
    display: flex;
    flex-direction: column;

}

.right p{
    text-align: justify;
    color:black;
    font-weight: bold;
    letter-spacing: 2px;
    padding:1rem;
}



/* ..................end of the about us section..................
 */


/* ......... nav bar with icons .................. */


section.nav_with_icons{
    margin:2rem 0;
}
.icon_container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:pointer;
    position: relative;
    padding-bottom: 0.5em;

}

.icons::after{
    content:"";
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background:#0077F1;

    transform:scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease;
    
}

.icons:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    
}



.icons .icon_title{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.icon_pic i{
    font-size: 2rem;
}



/*.............. end of nav bar with icons .............................. */


/* ........................ making mobile responsive....................... */


@media screen and (max-width:1330px) {
    .map_section .my_container2{
        flex-direction: column;
        align-items: center;
    }

    .map_area,.review_area{
        width:100%;
    }

    .map_area{
        display: grid;
        place-items: center;
    }

    .map_area .map{
        width:100%;
    }

   

    .review_area .review_row{
      
        justify-content: center;
    }

    .review_title{
        text-align: center;
    }
    
}
@media screen and (max-width:810px){
    .top_title .title_name{
        font-size: 3rem;
       }
    
       .title_name::before{
        height: 3rem;
        right:-10px;
       }
    
       .logo img{
        width:60px;
        height:60px;
       display: none;
       }
    
       .search_box{
        padding:0.5em 1em;
       }
    
    .main_circle{
        width:400px;
        height: 400px;
    }

    .circle_desc{
        font-size: 1rem;
    }

    .small_circle{
        width:var(--dimen2);
        height: var(--dimen2);
    }

    .aboutus_section .my_container2{
        flex-direction: column;
        padding:4rem;
    }

    .aboutus_section .right{
        width:100%;
        padding-top:3rem;
    }


    .aboutus_section .left img{
        width:250px;
        position: relative;
        left:-40px;
      
    }

    .icon_container{
        flex-direction: column;
        align-items: center;
    }

    .icon_container .icons{
        margin-bottom: 2.5rem;
    }

    .icons .icon_title{
        font-size: 2rem;
    }

    .icon_pic i{
        font-size: 2.5rem;
    }

    .icons::after{
        height:3px;
    }
}

@media screen and (max-width:592px) {
    .main_circle{
        width:350px;
        height:350px;
    }
}

@media screen and (max-width:480px) {
    .top_title .title_name{
        font-size: 1.5rem;
       }
    
       .title_name::before{
        height: 1.5rem;
        right:-10px;
       }
    .search_area{
        display: none;
    }

    .my_video_details .row1{
        
        justify-content: center;
    }


    
}




/* ............................................................................. */
